<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Backbone.js</title>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>

    <h1>Tasks</h1>

    <form id="addTask" action="">
        <input id="title" type="text"/>
        <input type="submit" value="add"/>
        <span id="error"></span>
    </form>

    <div id="tasks">
    </div>

    <p>Tasks left: <span id="count"></span></p>

    <script type="text/template" id="task-template">
        <input type="checkbox" class="toggle" <%= completed ? 'checked' : '' %>/>
        <span class="<%= completed ? 'completed' : '' %>">
        <%- title %>
        </span>
        <span class="delete">[x]</span>
    </script>
    <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
    <script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>